@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WithTinyMCE</title>
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.0.0.js"></script>
    @*<script src="~/Scripts/tinymce.min.js"></script>*@
    <script type="text/javascript" src="~/Scripts/tiny_mce.js"></script>
  @*  <script src="~/Scripts/ice-master.min.js"></script>*@
    	<script type="text/javascript" src='~/Scripts/rangy-core.js'></script>
	<script type="text/javascript" src='~/Scripts/polyfills.js'></script>
	<script type="text/javascript" src='~/Scripts/ice.js'></script>
	<script type="text/javascript" src='~/Scripts/dom.js'></script>
	<script type="text/javascript" src='~/Scripts/icePlugin.js'></script>
	<script type="text/javascript" src='~/Scripts/icePluginManager.js'></script>
	<script type="text/javascript" src='~/Scripts/bookmark.js'></script>
	<script type="text/javascript" src='~/Scripts/selection.js'></script>
	<script type="text/javascript" src='~/Scripts/plugins/IceAddTitlePlugin/IceAddTitlePlugin.js'></script>
	<script type="text/javascript" src='~/Scripts/plugins/IceCopyPastePlugin/IceCopyPastePlugin.js'></script>
	<script type="text/javascript" src='~/Scripts/plugins/IceEmdashPlugin/IceEmdashPlugin.js'></script>
	<script type="text/javascript" src='~/Scripts/plugins/IceSmartQuotesPlugin/IceSmartQuotesPlugin.js'></script>
    
</head>
<body>
    <div>
        <textarea id="editor"><p> Get the internal list of change objects which are modeled from all of the change tracking
     nodes in the DOM. This might be useful to add a more sophisticated change tracking UI/UX.
     The list is key'ed with the unique change ids (`cid attribute`) and points to an object
     with metadata for a change: [changeid] => {`type`, `time`, `userid`, `username`}</p></textarea>
    </div>
    <script type="text/javascript">
        $(document).ready(function (e) {
            
            //var tracker = new ice.InlineChangeEditor({
            //    // element to track - ice will make it contenteditable
            //    element: document.getElementById('editor'),
            //    // tell ice to setup/handle events on the `element`
            //    handleEvents: true,
            //    // set a user object to associate with each change
            //    currentUser: { id: 1, name: 'Mukesh' }
            //});
            //// setup and start event handling for track changes
            //tracker.startTracking();
            //tinymce.init({
            //    selector: "textarea"
            //});
            tinymce.init({
                mode: "exact",
                elements: "editor",
                theme: "advanced",
                plugins: 'ice,icesearchreplace',
                theme_advanced_buttons1: "bold,italic,underline,|,bullist,numlist,|,undo,redo,code,|,search,replace,|,ice_togglechanges,ice_toggleshowchanges,iceacceptall,icerejectall,iceaccept,icereject",
                theme_advanced_buttons2: "",
                theme_advanced_buttons3: "",
                theme_advanced_buttons4: "",
                theme_advanced_toolbar_location: "top",
                theme_advanced_toolbar_align: "left",
                extended_valid_elements: "p,span[*],delete[*],insert[*]",
                ice: {
                    user: { name: 'Geoffrey Jellineck', id: 11 },
                    preserveOnPaste: 'p,a[href],i,em,b,span',
                    deleteTag: 'delete',
                    insertTag: 'insert'
                },
                height: '400'
            });
        });
</script>
</body>
</html>
